body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.social-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* .social-contacts a {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  padding: 12px;
  fill: #f4f4fd;
} */

.social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/*-------------------- header --------------------*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts .contacts-list {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  margin-left: auto;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.studio {
  position: relative;
}

.nav-link.studio::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.studio {
  color: #404bbf;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*---------------------------------------- content ----------------------------------------*/

/*-------------------- hero --------------------*/

.hero {
  background-color: #2e2f42;
  height: 600px;
  text-align: center;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  height: 120px;
  margin-bottom: 48px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  align-items: center;
  margin: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------- goal --------------------*/

.goal {
  text-align: left;
  padding: 120px 0;
}

.container.goal-tumb {
  display: flex;
}

.section-goal {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  border: 0;
}

/* .visually-hidden {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
} */

.goal-item {
  width: calc(100% - 24 * 3) / 4;
  width: 264px;
  align-items: center;
}

.goal-icons {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.goal-subtitle {
  text-align: left;
  margin-bottom: 8px;
}

/*-------------------- team --------------------*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  width: calc(100% - 24 * 3) / 4;
}

.team-pic {
  max-width: 100%;
  height: auto;
  display: block;
}

.team-box-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  box-sizing: border-box;
  padding: 32px 0 32px;
}

.subtitle-team {
  text-align: center;
  margin-bottom: 8px;
}

.text-team {
  text-align: center;
  margin-bottom: 8px;
}

/*-------------------- portfol --------------------*/

.portfol {
  padding: 120px 0;
}

.portfol-list {
  display: flex;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfol-item {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-text-box {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  margin-right: auto;
}

.subtitle-portfol {
  margin-bottom: 8px;
}

.portfol-pic {
  max-width: 100%;
  height: auto;
  display: block;
}
.portfol-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfol-item:hover .portfol-hiden-text {
  transform: translate(0);
}

.portfol-pic-hiden-text {
  position: relative;
  overflow: hidden;
}

.portfol-hiden-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;

  top: 0px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/*-------------------- team portfolio all --------------------*/

.text-all {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subtitle-all {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.title-team,
.title-portfol {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/*-------------------- footer --------------------*/

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.logo-copy {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  width: 294px;
}

.social-contacts.footer-contacts {
  display: flex;
  gap: 16px;
}

.other-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-link.footer:hover,
.social-link.footer:focus {
  background-color: #31d0aa;
}

/*---------------- modal modal ----------------*/

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.modal-backdrop:not(.is-open) .modal {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
